body {
    font-family: 'Poppins', sans-serif;
    background-color: #046206;
    background-image: url(../assets/fondo.jpeg);
    background-size: cover;
  }
  
  #seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .titulo {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-family: 'Fredoka One', cursive;
  }
  
  .subtitulo {
    color: rgb(255, 255, 255);
    font-size: 20px;
  }
  
  .tarjetas {
    display: flex;
    gap: 10px;
  }
  
  .tarjeta-de-pokemon {
    width: 200px;
    height: 100px;
    background: #1c8f11;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .tarjeta-de-pokemon img {
    width: 80px;
  }
  
  #boton-mascota {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid rgb(5, 0, 0);
    color: rgb(11, 1, 1);
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
  }
  
  input {
    display: none;
  }
  
  #seleccionar-ataque {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .boton-de-ataque {
    background-color: #118f17;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    width: 180px;
    color: rgb(7, 3, 3);
    font-family: 'Poppins', sans-serif;
  }
  
  #boton-reiniciar{
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid rgb(6, 1, 1);
    color: rgb(8, 1, 1);
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
  
  }